@use './variables' as *;
// Define typography mixin
@mixin typography($size, $line-height, $weight) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
  }
  * {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Avenir Next';
    overflow-x: hidden; // Prevents horizontal overflow
}
  // Page Header
  .page-header {
    @include typography(12px, 20px, 700); // Mobile default
  
    @media (min-width: 768px) { // Tablet
      @include typography(33px, 44px, 700);
    }
  
    @media (min-width: 1024px) { // Desktop
      @include typography(33px, 44px, 700); // Assuming same as tablet
    }
  }
  
  // Section Header
  .section-header {
    @include typography(12px, 20px, 700); // Mobile default
  
    @media (min-width: 768px) { // Tablet
      @include typography(12px, 20px, 700);
    }
  
    @media (min-width: 1024px) { // Desktop
      @include typography(12px, 20px, 700); // Assuming same as tablet
    }
  }
  
  // Subheader
  .subheader {
    @include typography(13px, 18px, 400); // Mobile default
  
    @media (min-width: 768px) { // Tablet
      @include typography(14px, 22px, 400);
    }
  
    @media (min-width: 1024px) { // Desktop
      @include typography(14px, 22px, 400); // Assuming same as tablet
    }
  }
  
  // Body Copy
  .body-copy {
    display: flex;
    flex-direction: column;
    @include typography(10px, 20px, 700); // Mobile default
  
    @media (min-width: 768px) { // Tablet
      @include typography(12px, 20px, 700);
    }
  
    @media (min-width: 1024px) { // Desktop
      @include typography(12px, 20px, 700); // Assuming same as tablet
    }
  }
  
  // Labels & Buttons
  .labels-and-buttons {
    @include typography(12px, 20px, 700); // Mobile default
  
    @media (min-width: 768px) { // Tablet
      @include typography(24px, 32px, 700);
    }
  
    @media (min-width: 1024px) { // Desktop
      @include typography(24px, 32px, 700); // Assuming same as tablet
    }
  }
  