// Define color variables
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;

// Secondary Colors
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;

// Grid settings for Desktop
$desktop-width: 1024px;
$desktop-columns: 63px;
$desktop-margin: auto;
$desktop-gutter: 24px;

// Grid settings for Tablet
$tablet-width: 768px;
$tablet-columns: auto;
$tablet-margin: 36px; 
$tablet-gutter: 24px; 

// Grid settings for Mobile
$mobile-columns: auto;
$mobile-margin: 16px;
$mobile-gutter: 16px;

$error-color: #D22D2D;

// Size variables for responsiveness
$desktop-form-height: 40px;
$mobile-form-height: 36px;
$form-min-width: 240px;
$default-radius: 4px;
$desktop-padding: 16px;
$mobile-padding: 12px;
$label-field-gap: 4px;

//Font weights
$font-weight-bold: 700;
$font-weight-demi: 600;
$font-weight-regular: 400;

body {
  background-color: $White;
  color: $BrainFlix-Black;
}

.button {
  background-color: $BrainFlix-Blue;
  color: $White;
  &:hover {
    background-color: $BrainFlix-DarkBlue;
  }
}


.secondary-text {
  color: $Silver;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/font/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/font/AvenirNextLTPro-Demi.woff") format("woff"),
    url("../../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
    font-weight: $font-weight-demi;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), 
    url("../../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}