@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;

.page-header {
    display: flex;
    height: 1rem;
    flex: 1;
    flex-direction: column;
    height: auto;
    padding-top: $mobile-margin;
    width: 100%;

    @media (min-width: 768px) { // Tablet
        flex-direction: row;
        
      }
    
      @media (min-width: 1024px) { // Desktop
        
      }
    
    &__logo {
        height: 4rem;
    }
    &__searchbar-container {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        padding: 1rem;
    }
    &__searchbar {
        height: 4rem;
        width: 80vw;
    }
    &__upload {
        
        margin: $mobile-margin;
        background-color: $BrainFlix-Blue;
        color: white;
        
    }
}

.thumbnail {
    height: auto;
    width: 4rem;
    border-radius: 90%;
}